body {
    --current-zoom: 5;
}

#map {
    height: 600px;
}

.number-icon {
    color: #290202;
    position: relative;
}

.number-icon b {
    font-size: calc(var(--current-zoom) * 2px);
}

.number-icon.icon-under b {
    position: absolute;
    top: calc(var(--current-zoom) * 2.2px + 1px);
}

.number-icon.icon-above b {
    position: absolute;
    bottom: calc(var(--current-zoom) * 1.8px - 1px);
}

.location-icon i {
    font-size: calc(var(--current-zoom) * 2px - 2px);
}

.arrow-icon i {
    background-image: url(images/arrow.svg);
    width: calc(var(--length)*10px);
    height: 10px;
    display: inline-block;
    background-size: 100% 10px;
    background-repeat: no-repeat;
}

.arrow-icon i {
    transform-origin: left;
    transform: rotate(var(--rotate));
}