body {
    --current-zoom: 5;
}

#map {
    height: 600px;
}

.number-icon {
    color: #290202;
    position: relative;
}

.number-icon b {
    font-size: calc(var(--current-zoom) * 2px);
    transform: translateX(-20%);
}

.number-icon.icon-under b {
    position: absolute;
    top: calc(var(--current-zoom) * 2.2px + 1px);
}

.number-icon.icon-above b {
    position: absolute;
    bottom: calc(var(--current-zoom) * 1.8px - 1px);
}

.location-icon i {
    font-size: calc(var(--current-zoom) * 2px - 2px);
}

.arrow-icon i {
    background-image: url(images/arrow.svg);
    width: calc(var(--length)*3px * var(--current-zoom) + 5px);
    height: 10px;
    display: inline-block;
    background-size: 100% 10px;
    background-repeat: no-repeat;
}

.arrow-icon.arrow-blue i {
    background-image: url(images/arrow_blue.svg);
}

.arrow-icon.arrow-red i {
    background-image: url(images/arrow_red.svg);
}

.arrow-icon i {
    transform-origin: left;
    transform: translateX(calc(var(--current-zoom) * 1px - 1px)) rotate(var(--rotate));
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: max-content;
}

.options-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#scale {
    position: absolute;
    bottom: 0px;
    width: 250px;
    z-index: 99999;
    background-color: #ffffffaa;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 5px;
    visibility: hidden;
}

.alert {
    background-color: #9dbcd3;
    border-radius: 10px;
    line-height: 2rem;
    min-width: 50%;
    text-align: center;
    margin-top: .3rem;
    font-style: italic;
    text-indent: 3px;
    margin-bottom: .3rem;
}

.alert i {
    float: right;
    line-height: 2rem;
    margin-right: 5px;
    cursor: pointer;
    padding-right: 2px;
    padding-left: 3px;
}