body {
    --current-zoom: 5;
}

#map {
    height: 600px;
}

.number-icon {
    color: #290202;
    position: relative;
}

.number-icon b {
    font-size: calc(var(--current-zoom) * 2px);
}

.number-icon.icon-under b {
    position: absolute;
    top: calc(var(--current-zoom) * 2.2px + 1px);
}

.number-icon.icon-above b {
    position: absolute;
    bottom: calc(var(--current-zoom) * 1.8px - 1px);
}

.location-icon i {
    font-size: calc(var(--current-zoom) * 2px - 2px);
}

/* .arrow-icon i {
    background-image: url(images/arrow.svg);
    display: block;
    width: 1px;
    height: 1px;
} */

.arrow-icon i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2px 0 2px calc(var(--length)*20px);
    border-color: transparent transparent transparent #0000ffbb;
    display: inline-block;
}

.arrow-icon i {
    transform-origin: left;
    transform: rotate(var(--rotate));
}